
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a asp-controller="Home" asp-action="Index">Back</a>

@model Book

<h1>Book Details</h1>
<hr />
<div>
    <p>Title: @Model!.Title</p>
@*    <p>Author: @Model.Author</p>
    <p>Genre: @Model.Genre</p>*@
    <p>Publishing: @Model.Publishing</p>
    <p>Public Year: @Model.PublicYear</p>
    @*<img src="~/img/@Model.CoverPath"/>*@ @*for img from folder*@
    @*<img src="@Model.CoverPath"/> @*for img from web*@

</div>