@model Book
@using books.Authorization

<div class="col-sm-6 col-md-4 col-lg-3">
    
    <div class="card viewed-book" style="width: 18rem;">
        <img class="card-img-top img-fluid rounded" src="@Model.CoverPath" alt="Card image cap">
        <div class="card-body">
            <p class="card-title">
                <a asp-action="Details"
                   asp-route-id="@Model.Id"
                   class="text-decoration-none">@Model.Title</a>
            </p>
            <p class="card-title">@Model.Author?.ToString()</p>
            <p class="card-title">@Model.Genre?.Name</>
            <hr />
            <a asp-action="Details"
               asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
        </div>
    </div>
    
</div>