@model IndexBookViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<form asp-action="Index" method="get">
    <div class="row">
        <div class=" col col-md-4 col-12">
            <div class="mb-3">
                <label asp-for="GenreId">Genre</label>
                <select asp-for="GenreId" asp-items="@Model!.GenreSelect">
                    <option selected="selected" value="0">All</option>
                </select>
            </div>
        </div>
        <div class=" col col-md-4 col-12">
            <div class="mb-3">
                <label asp-for="AuthorId">Author</label>
                <select asp-for="AuthorId" asp-items="@Model.AuthorSelect">
                    <option selected="selected" value="0">All</option>
                </select>
            </div>
        </div>

        <div class=" col col-md-4 col-12">
            <div class="mb-3">
                <input asp-for="Search" class="form-control" placeholder="@nameof(Model.Search)" />
            </div>
        </div>
        <div class=" col col-md-4 col-12">
            <div class="mb-3">
                <button type="submit" class="btn-success">Search</button>
            </div>
        </div>
    </div>
</form>

<div class="row">
    @foreach (var book in Model.Books)
    {
        <div class="col col-xl-3 col-lg-4 col-md-6 col-12 mb-5">
            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">@book.Title</h2>
                    <hr/>
                    <h3 class="card-title">@book.Author?.ToString()</h3>
                    <h3 class="card-title">@book.Genre?.Name</h3>
                    <p class="card-text">Publishing: @book.Publishing @book.PublicYear</p>
                    <div class="btn-group btn-group-sm">
                        @if (ViewBag.IsAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@book.Id" class="btn-success btn">Edit</a>
                            <a asp-action="Delete" asp-route-id="@book.Id" class="btn-danger btn">Delete</a>
                        }
                        <a asp-action="Details" asp-route-id="@book.Id" class="btn-warning btn ">Details</a>
                    </div>

                </div>
            </div>
            <div class="card">
                <img class="card-img-bottom" src="@book.CoverPath" alt="Cover"/>
            </div>
        </div>
    }
</div>
